<h2 class="signup-title">Add a patient</h2>

<div class="form">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :first_name, autofocus: true, placeholder: 'First Name', class: 'input'  %>
  </div>

  <div class="field">
    <%= f.text_field :last_name, placeholder: 'Last Name', class: 'input'  %>
  </div>

<!--   <div class="field">
    <%= f.check_box :doctor %>
  </div> -->

  <div class="field">
    <%= f.email_field :email, placeholder: 'Email', class: 'input'  %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Password (8 characters minimum)', class: 'input'  %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password Confirmation', class: 'input'  %>
  </div>

  <div class="submit-button">
    <%= f.submit "Sign up", class: "submit" %>
  </div>
<% end %>

</div>
