<p id="notice"><%= notice %></p>

<p>
  <strong>Doctor:</strong>
  <%= @result.doctor_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @result.patient_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @result.status %>
</p>

<p>
  <strong>Raw data:</strong>
  <%= @result.raw_data %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @result.notes %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
