<% if current_user.doctor == true %>
	<p>
		<strong>Patient:</strong>
		<%= @patient_name %>
	</p>

<%else%>
	<p>
		<strong>Dr.</strong>
		<% @patient = Patient.where(user_id: [current_user.id]).first%>
		<% @doctor = Doctor.where(id: [@patient.doctors_id]).first %>
		<% @doctor_name = User.where(id: [@doctor.user_id]).first.first_name %>
		<%= @doctor_name %>
	</p>

<%end%>

<div class="symptoms">
<p>
  <strong>Symptoms</strong>
</p>

<% if current_user.doctor == true %>

<%else%>
	<%= link_to 'New Sypmtom', new_post_path(@post) %>
<%end%>

	<% @posts.each do |post| %>
		<div class="timestamp">
			<%= post.created_at.strftime("%A at %H:%M%p")  %>
		</div>
		<div class="location">
			<%= post.location %>
		</div>
		<div class="discomfort">
			<%= post.discomfort %>
		</div>
		<div class="frequency">
			<%= post.frequency %>
		</div>
		<div class="initial_occurence">
			<%= post.initial_occurence %>
		</div>
		<div class="notes">
			<%= post.notes %>
		</div>
	<%end%>
	<% if current_user.doctor == true %>
	<% else %>
		<%= link_to 'New Symptom', new_post_path %>
	<% end %>

</div>

<div class="messages">
<p>
  <strong>Messages</strong>
</p>

	<% @messages.each do |message| %>
		<div class="timestamp">
			<%= message.created_at.strftime("%A at %H:%M%p")  %>
		</div>
		<div class="created_by">
			<% @message_maker = User.where(id: [message.created_by]).first.first_name %>
			<%= @message_maker %>
		</div>
		<div class="content">
			<%= message.content %>
		</div>
	<%end%>

	<%= form_for(@message) do |f| %>
	  <% if @message.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

	      <ul>
	      <% @message.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="field">
	    <%= f.label 'New Message' %><br>
	    <%= f.text_area :content %>
	  </div>

	  <div class="actions">
	    <%= f.submit %>
	  </div>

	<% end %>
</div>

<div class="results">
<p>
  <strong>Results</strong>
</p>

<% if current_user.doctor == true %>
	<%= link_to 'New Results', new_result_path(@result) %>
<%else%>
	
<%end%>

	<% @results.each do |result| %>
		<div class="timestamp">
			<%= result.created_at.strftime("%A at %H:%M%p")  %>
		</div>
		<div class="status">
			<%= result.status %>
		</div>
		<div class="raw_data">
			<%= result.raw_data %>
		</div>
		<div class="notes">
			<%= result.notes %>
		</div>
	<%end%>	

<% if current_user.doctor == true %>
	<%= link_to 'New Result', new_result_path %>
<% end %>	

</div>
<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
