<div class="wrapper">

	<div class="hero">
		<% if current_user.doctor == true %>
			<p>	<br>
				<strong>Patient:</strong>
				<%= @patient_name %> <%= @patient_last_name %>
			</p>

		<%else%>
			<p>	Hello <%= @patient_name %>, you are contacting your GP, Dr.
				<% @patient = Patient.where(user_id: [current_user.id]).first%>
				<% @doctor = Doctor.where(id: [@patient.doctor_id]).first %>
				<% @doctor_name = User.where(id: [@doctor.user_id]).first.first_name %>
				<% @doctor_last_name = User.where(id: [@doctor.user_id]).first.last_name %>
				<%= @doctor_name %> <%= @doctor_last_name %>
				<br>
				<%= image_tag ('Doctor-790x1024.jpg')%>
			</p>

		<%end%>
	</div>
	<div class="symptoms container">
		  <h3 class="header">Symptoms</h3>
		<% if current_user.doctor == true %>
						<% else %>
			<div class="symptom-input">
					<div class="new-button"><%= link_to 'New Symptom', new_post_path(:patient_id => @patient.id) %>
					</div>
			</div>
		<% end %>
			<div class="info-container">
					<% @posts.each do |post| %>
						<div class="symptom-contents">
							<div class="timestamp">
								<%= post.created_at.strftime("%A at %H:%M%p")  %>
							</div>
							<div class="location">
								<a> Location of Issue: </a><br>
								<p>
									<%= post.location %>
								</p>
							</div>
							<div class="discomfort">
								<a> Level of Discomfort: </a><br>
								<p>
								<%= post.discomfort %>
								</p>
							</div>
							<div class="frequency">
								<a> Frequency: </a><br>
								<p>
									<%= post.frequency %>
								</p>
							</div>
							<div class="initial_occurence">
								<a> Initial Occurence: </a><br>
								<p>
									<%= post.initial_occurence %>
								</p>
							</div>
							<div class="notes">
								<a> Notes: </a><br>
								<%= post.notes %>
							</div>
						</div>
					<%end%>
		</div>
	</div>

	<div class="messages container">
		  <h3>Messages</h3>
		<div class="message-input">
			<%= form_for(@message) do |f| %>

			  <div class="field box">
			    <%= f.text_area :content, :placeholder => "Type your message here..." %>
			  </div>

			  <div class="field">
			    <%= f.hidden_field :patient_id, value: @patient.id %>
			  </div>

			  <div class="actions group">
			    <%= f.submit "Send" %>
			  </div>

			<% end %>
		</div>
		<div class="info-container">
			<% @messages.each do |message| %>
				<div class="message-contents">
					<div class="created_by">
						<% @message_maker = User.where(id: [message.created_by]).first.first_name %>
						<%= @message_maker %>
					</div>
					<div class="content">
						<%= message.content %>
					</div>
					<div class="timestamp">
						<%= message.created_at.strftime("%A at %H:%M%p")  %>
					</div>
				</div>
			<%end%>
		</div>

	</div>

	<div class="results container">
		  <h3>Results</h3>
		<% if current_user.doctor == true %>
			<div class="results-input">
				<%= link_to 'New Result', new_result_path(:patient_id => @patient.id) %>
			</div>
		<% end %>	
		<div class="info-container">
			<% @results.each do |result| %>
				<div class="results-contents">
					<div class="timestamp">
						<%= result.created_at.strftime("%A at %H:%M%p")  %>
					</div>
					<div class="status">
						<a> Summary of Results: </a><br>
						<%= result.status %>
					</div>
					<div class="raw_data">
						<a> Data: </a><br>
				
							<%= link_to "http://www.beatcfsandfms.org/GeorgesTests/OrganicAnal_1098_pg1.gif",class: 'attachment' do %>
							<%= image_tag('attachment', class: 'attachment') %>

							<%end%>

					
					</div>
					<div class="notes">
						<a> Doctors notes: </a><br>
						<%= result.notes %>
					</div>
				</div>
			<%end%>	
		</div>
	</div>

</div>