<div class="wrapper">
	<div class="symptoms container">
		<p>
		  <strong>Symptoms</strong>
		</p>
			<div class="symptom-input">
				<% if current_user.doctor == true %>
				<% else %>
					<div class="new-button"><%= link_to 'New Symptom', new_post_path %>
					</div>
				<% end %>
			</div>
			<div class="symptom-history">
				<p> Symptom History </p>
			</div>
			<div class="info-container">
				<div class="symptom-container">
					<% @posts.each do |post| %>
						<div class="symptom-contents">
							<div class="timestamp">
								<%= post.created_at.strftime("%A at %H:%M%p")  %>
							</div>
							<div class="location">
								<a> Location of Issue: </a><br>
								<p>
									<%= post.location %>
								</p>
							</div>
							<div class="discomfort">
								<a> Level of Discomfort: </a><br>
								<p>
								<%= post.discomfort %>
								</p>
							</div>
							<div class="frequency">
								<a> Frequency: </a><br>
								<p>
									<%= post.frequency %>
								</p>
							</div>
							<div class="initial_occurence">
								<a> Initial Occurence: </a><br>
								<p>
									<%= post.initial_occurence %>
								</p>
							</div>
							<div class="notes">
								<a> Notes: </a><br>
								<%= post.notes %>
							</div>
						</div>
					<%end%>
				</div>
		</div>
	</div>

	<div class="messages container">
		<p>
		  <strong>Messages</strong>
		</p>
		<div class="message-input">
			<%= form_for(@message) do |f| %>

			  <div class="field">
			    <%= f.text_area :content, :placeholder => "Type your message here..." %>
			  </div>

			  <div class="field">
			    <%= f.hidden_field :patient_id, value: @patient.id %>
			  </div>

			  <div class="actions group">
			    <%= f.submit "Send" %>
			  </div>

			<% end %>
		</div>
		<div class="info-container">
			<% @messages.each do |message| %>
				<div class="message-contents">
					<div class="created_by">
						<% @message_maker = User.where(id: [message.created_by]).first.first_name %>
						<%= @message_maker %>
					</div>
					<div class="content">
						<%= message.content %>
					</div>
					<div class="timestamp">
						<%= message.created_at.strftime("%A at %H:%M%p")  %>
					</div>
				</div>
			<%end%>
		</div>

	</div>

	<div class="results container">
		<p>
		  <strong>Results</strong>
		</p>
		<% if current_user.doctor == true %>
			<div class="results-input">
				<%= link_to 'New Result', new_result_path %>
			</div>
		<% end %>	
		<div class="info-container">
			<% @results.each do |result| %>
				<div class="results-contents">
					<div class="timestamp">
						<%= result.created_at.strftime("%A at %H:%M%p")  %>
					</div>
					<div class="status">
						<a> Summary of Results: </a><br>
						<%= result.status %>
					</div>
					<div class="raw_data">
						<a> Data: </a><br>
				

							<%= image_tag('attachment', class: 'attachment') %>

					
					</div>
					<div class="notes">
						<a> Doctors notes: </a><br>
						<%= result.notes %>
					</div>
				</div>
			<%end%>	
		</div>
	</div>

</div>