<p>
  <strong>User:</strong>
  <%= @patient.user_id %>
</p>

<p>
  <strong>Doctors:</strong>
  <%= @patient.doctors_id %>
</p>

<div class="symptoms">
	<div class="timestamp">
		<%= @posts.created_at %>
	</div>
	<div class="location">
		<%= @posts.location %>
	</div>
	<div class="discomfort">
		<%= @posts.discomfort %>
	</div>
	<div class="frequency">
		<%= @posts.frequency %>
	</div>
	<div class="initial_occurence">
		<%= @posts.initial_occurence %>
	</div>
	<div class="notes">
		<%= @posts.notes %>
	</div>
</div>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
