<h1 class="post-symptom-title">Submit your symptoms to your Doctor</h1>

<div class="form">

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :location, placeholder: 'Location of discomfort', class: 'input' %>
  </div>
  <div class="field">
    <%= f.number_field :discomfort, placeholder: 'Discomfort (1 the lowest, 10 the highest)', class: 'input' %>
  </div>
  <div class="field">
    <%= f.hidden_field :patient_id, value: @patient.id %>
  </div>
  <div class="field">
    <%= f.text_field :frequency, placeholder: 'Frequency', class: 'input' %>
  </div>
  <div class="field">
    <%= f.text_field :initial_occurence, placeholder: 'Initial Occurence', class: 'input' %>
  </div>
  <div class="field">
    <%= f.text_area :notes, placeholder: 'Additional notes', class: 'input text-input' %>
  </div>
  <div class="submit-button">
    <%= f.submit "Submit", class: 'submit' %>
  </div>
<% end %>

</div>
