<!DOCTYPE html>
<html>
<head>
  <title>MyGP - Island Medical Centre</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>

<body>
		<header>
			<%= image_tag('IMClogo', class: 'logo') %>

			<% if current_page?('/users/sign_in') or current_page?('/') %>
			<% else %>
				<div class="login-logout">
					<% if user_signed_in? %>
						<%= link_to'Logout', destroy_user_session_path, :method => :delete %>
					<% else %>
						<%= link_to 'Log in', new_user_session_path %>
					<% end %>
				</div>
			<% end %>

			<div class="home-button">
				<% if user_signed_in? %>
					<% if current_user.doctor == true %>
						<%= link_to posts_path do %>
							<i class="fa fa-home"></i>
						<% end %>
					<% else %>
						<% @onion = Patient.where(user_id: current_user.id).first.id %>
						<%= link_to patient_path(@onion) do %>
							<i class="fa fa-home"></i>
						<% end %>
					<% end %>
				<% end %>
			</div>

		</header>


<%= yield %>


</body>
</html>
